*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid gray;
    color: whitesmoke;
    background-color: black;
}

.logo {
    font-size: 30px;
}
.nav-element {
    display: inline-block;
    padding: 0 10px;
}