*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid gray;
    color: whitesmoke;
    background-color: black;
}

main {
    color: whitesmoke;
    background-color: black;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    min-height: 1000px;
    justify-content: space-between;
}
.logo {
    font-size: 30px;
}
.nav-element {
    display: inline-block;
    padding: 0 10px;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
.description {
    text-align: center;
}